@charset "UTF-8";

@media screen and (max-width: 1060px){
    .navbar{
        position: relative;
    }

    .menu{
        display: none;
    }

    .logo, h1{
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .header{
        padding-top: 50px;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .img-headline{
        flex:100%;
        margin: 5%;
    }

   .card{
    width: 100%;
    margin: 5% 0% 0% 0%;
   }
}